.flag {
    position       : absolute;
    width          : 160px;
    height         : 40px;
    display        : flex;
    align-items    : center;
    justify-content: center;

    &::after {
        content      : " ";
        position     : absolute;
        border-top   : 0px solid transparent;
        border-bottom: 20px solid transparent;
        right       : 100%;
        top: 0;
        border-right: 10px solid black;
    }

}