.filter {
    display: flex;
    justify-content: center;
    margin: 22px 0;
    position: sticky;

    button {
        margin: 0 10px;
        padding: 2px 6px;
        font-size: 26px;
        border-radius: 6px;
        
        &:hover {
            cursor: pointer;
        }
    }

    &__type { 
        color: rgb(222, 222, 222);
        opacity: 0.6;
        scale: 0.9;
        transition: .2s all;
        
        &--active {
            color: white;
            opacity: 1;
            scale: 1;
        }
    }
}